<%= render 'shared/navigation' %>
<p id="notice"><%= notice %></p>

<div class="panel panel-default">

  <div class="panel-heading">Showing Grade Details</div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ol class="list-group">
          <li class="list-group-item">
            <p><strong>Grade:</strong>
              <%= @grade.grade %></p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<a class="btn btn-default btn-primary btn-lg" href="<%= edit_grade_path(@grade) %>" >Edit</a>

