<%= form_for(@email_notification) do |f| %>
  <% if @email_notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_notification.errors.count, "error") %> prohibited this email_notification from being saved:</h2>

      <ul>
      <% @email_notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
