<form class="form" method='get' action = '/logins/index'>
 <button name = "logout" type="submit" id="logout-button">Log Out</button><br/>
</form>

<form class="form" method='get' action = <%= '/' + session[:user_type] + 's/land/home' %> >
  <button class="btn btn-default btn-primary btn-lg" name = "home" type="submit" id="home-button">Home</button><br/>
</form>

