<%= render 'shared/navigation' %>

<p id="notice"><%= notice %></p>
<div class="panel panel-default">

  <div class="panel-heading">Add grade for student</div>
<form action='add_grade_admin' method='post'>
  <table class="table">
    <thead>
    <tr>

    </tr>

    </thead>

    <tbody>
    <% e = Enrollment.all.select{|stu| stu.status == 'ENROLLED' and stu.student_id.to_s == params[:id].to_s} %>

        <tr>

          <td>
            <%= select_tag 'Course', options_for_select(e.map { |u| [Course.find(u.course_id).title, u.course_id] }) %>
          </td>
          <td><select name= "grade">
            <option value = "">Select Grade</option>
            <option value = "A">A</option>
            <option value = "B">B</option>
            <option value = "C">C</option>
            <option value = "D">D</option>
          </select></td>
        </tr>
    <tr>
    </tbody>

    <input id="stud_id" name="stud_id" type="hidden" value=<%= params[:id].to_s %> />
  </table>

  <button class="btn btn-default btn-primary btn-lg" name = "add_grade" type="submit" id="add_grade-button">Add Grade</button>
</form>
</div>
