<html>
<body>

<h1> Hi <%= session[:name] %> </h1>

<br/>

<form class="form" method='get' action = '/admins'>
  <button name = "manage_admins" type="submit" id="manage_admin_button">Manage Admins</button><br/>
</form>



<form class="form" method='get' action = '/courses'>
  <button name = "manage_courses" type="submit" id="manage_course_button">Manage Courses</button><br/>
</form>



<form class="form" method='get' action = '/instructors'>
  <button name = "manage_instructors" type="submit" id="manage_instructor_button">Manage Instructors</button><br/>
</form>



<form class="form" method='get' action = '/students'>
  <button name = "manage_students" type="submit" id="manage_student_button">Manage Students</button><br/>
</form>


</body>
</html>

