<html>
<body>
<%= render 'shared/navigation' %>
<table class="table">
  <tr>
    <td>
      <form class="form" method='get' action = '/admins'>
          <button class ="btn btn-default btn-primary btn-block" name = "manage_admins" type="submit" id="manage_admin_button">Manage Admins</button>
      </form>
    </td>
    <td>
      <form class="form" method='get' action = '/instructors'>
          <button class="btn btn-default btn-primary btn-block" name = "manage_instructors" type="submit" id="manage_instructor_button">Manage Instructors</button>
      </form>
    </td>
    <td>
      <form class="form" method='get' action = '/students'>
          <button class="btn btn-default btn-primary btn-block" name = "manage_students" type="submit" id="manage_student_button">Manage Students</button>
      </form>
    </td>
    <td>
      <form class="form" method='get' action = '/courses'>
          <button class="btn btn-default btn-primary btn-block" name = "manage_courses" type="submit" id="manage_course_button">Manage Courses</button>
      </form>

    </td>
  </tr>
</table>
</body>
</html>

