<html>
<body>
<%= render 'shared/navigation' %>
<div class="btn-group btn-group-justified" role="group" aria-label="...">

<form class="form" method='get' action = '/admins'>
  <div class="btn-group" role="group">
    <button class="btn btn-default" name = "manage_admins" type="submit" id="manage_admin_button">Manage Admins</button>
  </div>
</form>

  <form class="form" method='get' action = '/instructors'>
    <div class="btn-group" role="group">
    <button class="btn btn-default" name = "manage_instructors" type="submit" id="manage_instructor_button">Manage Instructors</button>
      </div>
  </form>


  <form class="form" method='get' action = '/students'>
    <div class="btn-group" role="group">
    <button class="btn btn-default" name = "manage_students" type="submit" id="manage_student_button">Manage Students</button>
  </div>
  </form>

  <form class="form" method='get' action = '/courses'>
  <div class="btn-group" role="group">
    <button class="btn btn-default" name = "manage_courses" type="submit" id="manage_course_button">Manage Courses</button>
  </div>

</form>



</div>
</body>
</html>

