<html>
<body>
<%= render 'shared/navigation' %>
<br/>
<%= flash[:notice] if flash[:notice]%>

<div>
  <div class="panel panel-default">

    <div class="panel-heading">Courses for Enrollment</div>

  <form action='enroll_course' method='post'>
    <table class="table">
      <thead>
      <tr>
        <th>Select</th>
        <th>Course</th>
      </tr>
      </thead>

      <tbody>
      <% Course.all.each do |course| %>
          <% @e = Enrollment.find_by(student_id: session[:current_user_id], course_id: course.id) %>
          <% if @e == nil %>

            <tr>
              <% @courseDetails = course.courseNumber + ' ' + course.title %>
              <td><%= check_box_tag 'courses_to_be_enrolled[]', course.id %></td>
              <td><%= @courseDetails %></td>
            </tr>
          <% end %>
      <% end %>

      </tbody>
    </table>

    <button class="btn btn-default btn-primary btn-lg" name = "enroll_course" type="submit" id="enroll_course-button">Enroll</button>

  </form>

</div>
</div>
</body>
</html>

