<html>
<body>
<%= render 'shared/navigation' %>
<br/>
<%= flash[:notice] if flash[:notice]%>

<div>
  <div class="panel panel-default">

    <div class="panel-heading">Search by keyword:</div>

  <form action='search_result' method='post'>
    <table class="table">
      <tbody>
      <tr>
        <td></td>
        <td><select class="form-control" required name= "criteria">
          <option value = "">Select Criteria</option>
          <option value = "courseNumber">Course Number</option>
          <option value = "title">Course Title</option>
          <option value = "instructor_id">Course Instructor</option>
          <option value = "description">Course Description</option>
          <option value = "status">Course Status</option>
        </select></td>
        <td> <div class="field">
          <input required type="text" name = "keyword" placeholder="Enter Keyword">
        </div> </td>
        <td><button class="btn btn-default btn-primary btn-lg" name = "search_criteria" type="submit" id="search_criteria-button">Search</button></td>
      </tr>
      </tbody>
      </table>
  </form>

</div>
</div>
</body>
</html>