<html>
<%= render 'shared/navigation' %>
<div class="panel panel-default">

  <div class="panel-heading"><%= Student.find(params[:id]).name.to_s + "'s " %> Courses</div>


  <div class="panel panel-default">

    <div class="panel-heading">Past Courses</div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <ol class="list-group">
            <li class="list-group-item">
              <% Enrollment.all.select{|c| c.status.to_s == 'DROPPED' and c.student_id.to_s == params[:id].to_s}.each do |cr| %>
                  <p><strong> <%= Course.find(cr.course_id).title %></strong>
              <% end %>

            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="panel-heading">Present Courses</div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <ol class="list-group">
            <li class="list-group-item">
              <% Enrollment.all.select{|c| c.status.to_s == 'ENROLLED' and c.student_id.to_s == params[:id].to_s}.each do |cr| %>
                  <p><strong><%= Course.find(cr.course_id).title %></strong>
              <% end %>

            </li>
          </ol>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</html>

