<html>

<body>


<nav class="navbar navbar-custom" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <h4 class="navbar-text">Class Portal</h4>
    </div>
  </div>
</nav>

<div class="wrapper">
  <form class="form-signin" method='post' action = '/logins/validate'>
    <h2 class="form-signin-heading">Please login</h2>
    <input required type="email" class="form-control" name="email" placeholder="Email Address" autofocus="" />
    <input required type="password" class="form-control" name="password" placeholder="Password"/>
    <select class="form-control" required name= "userType">
      <option value = "">Select User Type</option>
      <option value = "student">Student</option>
      <option value = "instructor">Instructor</option>
      <option value = "admin">Admin</option>
    </select>
    <label class="checkbox">
      <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" name = "validate" type="submit" id="login-button">Login</button>
    <%= flash[:notice] if flash[:notice]%>
    <a class="btn btn-lg btn-primary btn-block" href="/logins/signup" >Sign Up</a>
  </form>

</div>

</body>

</html>