<%= render 'shared/navigation' %>
<div class="panel panel-default">
  <div class="panel-heading">Editing Course Material</div>

<%= render 'form' %>
<br/>
  <a class="btn btn-default btn-primary btn-lg" href="<%= @course_material %>" >Show</a>
  <a class="btn btn-default btn-primary btn-lg" href="<%= "/instructors/land/manage_course_material/" + @course_material.course_id.to_s + "/" + @course_material.instructor_id.to_s %>" >Back</a>

</div>