<%= render 'shared/navigation' %>
<div class="panel panel-default">

  <div class="panel-heading">New Course Material</div>

<%= render 'form' %>
<br/>
  <a class="btn btn-default btn-primary btn-lg" href="<%= '/instructors/land/manage_course_material/' + params[:tokenCourseId].to_s + '/'+params[:tokenInsId].to_s %>" >Back</a>
</div>