<%= render 'shared/navigation' %>
<div class="panel panel-default">

  <div class="panel-heading">Editing Enrollments</div>

<%= render 'form' %>

  <a class="btn btn-default btn-primary btn-lg" href="<%= @enrollment %>" >Show</a>

</div>