<%= render 'shared/navigation' %>
<div class="panel panel-default">

  <div class="panel-heading">Editing Course</div>

<%= render 'form' %>
</div>
<a class="btn btn-default btn-primary btn-lg" href="<%= @course %>" >Show</a>
