<%= render 'shared/navigation' %>
<div class="panel panel-default">

  <div class="panel-heading">Editing Student</div>

<%= render 'form' %>
</div>
<a class="btn btn-lg btn-lg btn-block" href="<%= @course %>" >Show</a>
