<%= render 'shared/navigation' %>
<div class="panel panel-default">

  <div class="panel-heading">New Course</div>

  <%= render 'form' %>
</div>

<a class="btn btn-lg btn-lg btn-block" href="<%= courses_path %>" >Back</a>

